<!DOCTYPE html>
<html lang="kr">
<head>
	<!-- Required meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Bootstrap CSS -->
	<link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	
	<!-- BBS CSS -->
	<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
	
	<title>WELCOME BBS!</title> 
</head>
<body>
	<nav th:replace="~{common/navbar :: navbarFragment}"></nav>
	
	<!-- 기본 템플릿 안에 삽입될 내용 Start -->
	<div layout:fragment="content" class="container my-3"></div>
	<!-- 기본 템플릿 안에 삽입될 내용 End -->
	
	<!-- Bootstrap JS -->
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	
	<!-- Javascript Start -->
	<th:block layout:fragment="script"></th:block>
	<!-- Javascript End -->
</body>
</html>